{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react-refresh",
    "import",
    "prettier"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          // Node内置
          "external",
          // npm包
          "internal",
          // 项目内部
          "parent",
          // 父目录
          "sibling",
          // 同级
          "index"
          // 目录索引
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@/**",
            // 给别名路径特殊待遇
            "group": "internal",
            "position": "before"
          }
        ],
        "newlines-between": "never",
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ],
        "alphabetize": {
          // 字母表排序
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "react-refresh/only-export-components": [
      "warn",
      {
        "allowConstantExport": true
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
